html{
    margin:0;
    padding: 0;
}
body{
    margin:0;
    padding: 0;
}
header {

    text-align: center;
    color: black;
    font-family:Algerian;
}
header{
    background-color: rgb(175, 56, 56);
    
}
h3{
    margin:0;
    padding: 0;
}
button{
    display:inline-block;
    margin:20px 0px 0px 0px;
    
}
main{
    text-align:center;
    margin:0;
    padding: 0;
}
#bored-table{
    margin-top:  4rem;
    margin-left: auto;
    margin-right: auto  ;
    
}
.table-datas{
    width: 4.2rem;
    height: 4.2rem;
    text-align: center;
    padding: 0.1rem;
}
.table-datas img{
    width: 3.8rem;
    height: 3.8rem;
    margin:0;
    padding: 0;
}
main
{
    height: 70rem;
    background-color: rgb(60, 177, 60);
}
footer{
    background-color: rgb(39,39,39);
    text-align: center;
}
footer img{
    margin-top:4rem;
    margin-bottom: 2rem;
    width: 15rem;
}